<%= content_for(:html_title) { @pokemon.name } %>

<h1> <%= @pokemon.name %> </h1>

<p>
  <%= link_to "Generation #{@pokemon.generation.number}", @pokemon.generation %>
</p>

<p>
  Types: <%= @pokemon.types.map(&:name).join(", ") %>
</p>

<p>
  Total Point: <%= @pokemon.total_point %>
</p>

<p>
  Height: <%= @pokemon.height %>m
</p>

<p>
  Weight: <%= @pokemon.weight %>kg
</p>
