<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags for Bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= yield(:html_title) + " - " if content_for?(:html_title) %>Minh's Pokemon Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- nav section -->
    <nav class="navbar navbar-expand-sm justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <p class="nav-link lead"><%= link_to "/homepage", root_path %></p>
        </li>
        <li class="nav-item">
          <p class="nav-link lead"><%= link_to "/about_us", permalink_path("about_us") %></p>
        </li>
        <li class="nav-item">
          <p class="nav-link lead"><%= link_to "/pokemons", pokemons_path %></p>
        </li>
        <li class="nav-item">
          <p class="nav-link lead"><%= link_to "/types", types_path %></p>
        </li>
        <li class="nav-item">
          <p class="nav-link lead"><%= link_to "/abilities", abilities_path %></p>
        </li>
      </ul>
    </nav>

    <p class="text-center display-4">Minh's Pokemons Project</p>

    <div>
      <%= form_with(url: search_pokemons_path, method: :get, local: true) do %>
        <div class="field is-grouped mb-5">
          <div class="control is-expanded">
            <%= text_field_tag(:keywords, nil, class: "input", placeholder: "Search Pokemons") %>
          </div>
          <div>
            <%= select_tag 'select_generation', options_from_collection_for_select(Generation.all, :id, :number), prompt: "All Generation" %>
          </div>
          <div class="control ">
            <%= submit_tag("Search", class: "button is-primary") %>
          </div>
        </div>
      <% end %>
    </div>

    <div>
      <%= yield %>
    </div>

  </body>
</html>
