<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags for Bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= yield(:html_title) + " - " if content_for?(:html_title) %>Minh's Pokemon Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <h1>Your Pokemon List</h1>

    <%= form_with(url: search_pokemons_path, method: :get, local: true) do %>
      <%= label_tag(:q, "Search for:") %>
      <%= text_field_tag(:keywords, nil) %>
      <%= submit_tag("Search") %>
    <% end %>

    <div class="container p-4 m-4">
      <%= yield %>
    </div>

  </body>
</html>
